<%- include('partials/_header') -%>
<body class="host_version"> 
    <%- include('partials/_navigation') -%>
	
	<% if(user.role === 'student'){ %>
		<div class="all-title-box">
			<div class="container text-center">
				<h1><%= user.name %>
				<span class="m_1">STUDENT</span>
				</h1>
			</div>
		</div>
		
		<div id="overviews" class="section wb">
			<div class="container">
				<div class="row"> 
					<div class="col-lg-12 blog-post-single">					
						<div class="blog-author">
							<div class="author-bio">
								<h3 class="author_name">Courses From <%= user.name %></h3>
								
							</div>
						</div>
						
					</div><!-- end col -->
				</div><!-- end row -->
				<div class="row mt-5"> 
					
					<% for(let i=0;i<user.courses.length;i++){ %>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="course-item mb-5">
								<div class="image-blog">
									<img src="/images/blog_1.jpg" alt="" class="img-fluid">
								</div>
								<div class="course-br">
									<div class="course-title">
										<h2><a href="/courses/<%=user.courses[i].slug %>" title=""><%= user.courses[i].name %></a></h2>
									</div>
									<div class="course-desc">
										<p><%= user.courses[i].description %></p>
									</div>
								</div>
							</div>
						</div><!-- end col -->
						<% } %>
						
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->
	<% } %>


	<% if(user.role === 'teacher'){ %>
		<div class="all-title-box">
			<div class="container text-center">
				<h1><%= user.name %>
				<span class="m_1">TEACHER</span>
				</h1>
				<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addCourse">
					Create New Course
				</button>
				<!-- Modal -->
				<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="addCourseLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="addCourseLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<form method="post" action="/courses">
						<div class="modal-body">
								<div class="row row-fluid">
									<div class="offset-1 col-lg-10 col-md-10 col-sm-10">
										<select class="form-control" name="category">
											<option disabled selected hidden>Please Select Course Category</option>
											<% for(let i=0;i<categories.length;i++){ %>
											<option value='<%= categories[i]._id %>'><%= categories[i].name %></option>
											<% } %>
										</select>
										<br />
									</div>
									<div class="offset-1 col-lg-10 col-md-10 col-sm-10">
										<input type="text" name="name" id="courseName" class="form-control" placeholder="Course Name">
										<br />
									</div>
									<div class="offset-1 col-lg-10 col-md-10 col-sm-10">
										<input type="text" name="description" id="courseDescription" class="form-control" placeholder="Course Description">
									</div>
									<div class="offset-1 col-lg-10 col-md-10 col-sm-10">
										<input type="hidden" name="role" class="form-control" value="<%= user.role %>">
									</div>
								</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-warning">Save changes</button>
						</div>
					</form>

					</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="overviews" class="section wb">
			<div class="container">
				<div class="row"> 
					<div class="col-lg-12 blog-post-single">					
						<div class="blog-author">
							<div class="author-bio">
								<h3 class="author_name">Courses From <%= user.name %></h3>
							</div>
						</div>
						
					</div><!-- end col -->
				</div><!-- end row -->
				<div class="row mt-5"> 
					
					<% for(let i=0;i<courses.length;i++){ %>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="course-item mb-5">
							<div class="image-blog">
								<img src="/images/blog_1.jpg" alt="" class="img-fluid">
							</div>
							<div class="course-br">
								<div class="course-title">
									<h2><a href="/courses/<%=courses[i].slug %>" title=""><%= courses[i].name %></a></h2>
								</div>
								<div class="course-desc">
									<p><%= courses[i].description %></p>
								</div>
							</div>
						</div>
					</div><!-- end col -->
					<% } %>
				
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->
	<% } %>
	
	
	<%- include('partials/_footer') -%>

</body>
</html>